<div class = 'holder'>
<a class="jp-first" ng-if ='options.first'>
	{{options.first}}
</a> 

<a ng-class="{'jp-previous jp-disabled':(current==1), 'jp-previous' : (current === 1 && next > 1)}"
	ng-click = "getPreviousItem()">
	{{options.previous}}
</a> 

<a  ng-repeat-start="num in numPagesArray track by $index"
	ng-click = "linkSelected(num)"
	ng-class = "{'jp-hidden' : ( (num < interval.start || num > interval.end) && safeRange.indexOf(num) == -1 ), 'jp-current' : (num === current)}">{{num}}
</a>

<span ng-repeat-end 

	  ng-if = "( num === options.startRange || num === numPages - options.endRange)" 

	  ng-click = "getMoreItems($event)" 
	  ng-class = "{'prev3': (num === options.startRange), 'next3': (num === numPages - options.endRange), 'jp-hidden' :((num === options.startRange) && !(interval.start > options.startRange+1 ||
        (options.startRange === 0 && interval.start > 0))) || ( (num === numPages - options.endRange) &&  !(interval.end < numPages - options.endRange)  ) }">...
    </span>

<a ng-class="{'jp-next jp-disabled' :(next==numPages), 'jp-next' : (next<numPages)}" ng-click = "getNextItem()" >{{options.next}}</a>
<a class="jp-last" ng-if = 'options.last'>{{options.last}}</a> 

<span>
	per page
	<select ng-model = 'perPage'  ng-options = "op for op in perPageOptions">
	</select>
</span>

</div>

